<div class="max-ap form-group">
  <div class="form-fields">
    <label><h4>{{localize "NECH.MaxAP"}}</h4></label>
    <input class="textbox" name="system.ap.max" value="{{actor.system.ap.max}}" data-dtype="Number" type="number" disabled>
  </div>
  <div class="form-fields">
    <label><h4>{{localize "NECH.APBonus"}}</h4></label>
    <input class="textbox" name="system.ap.bonus" value="{{actor.system.ap.bonus}}" data-dtype="Number" type="number">
  </div>
  <div class="form-fields">
    <label><h4>{{localize "NECH.CurrentAP"}}</h4></label>
    <input class="textbox" name="system.ap.value" value="{{actor.system.ap.value}}" data-dtype="Number" type="number">
  </div>
  <div class="form-fields">
    <label><h4>{{localize "NECH.SpineCounter"}}</h4></label>
    <input class="textbox" name="system.spineCounter.value" value="{{actor.system.spineCounter.value}}" data-dtype="Number" type="number">
  </div>
</div>

